.app__skills {
    background: var(--color-primary);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text-sphere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.2em;
}

.tagcloud--item {
    color: white;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: var(--color-secondary);
    cursor: pointer;
}

