.app__navbar {
    z-index: 100;
    display: block;
    min-height: 54px;
    background: var(--color-dark);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.app__navbar-container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.app__navbar-logo_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.app__navbar-logo {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
}

.app__navbar-logo img {
    width: 100%;
    height: 100%;
}

.app__navbar-links {
    display: inline-block;
}

.app__navbar-links_list {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin: 0 1em;
    padding-inline-start: 40px;
    color: var(--color-light);
    font-size: 16px;
    font-weight: bold;
}

.app__navbar-links_list-item {
    display: flex;
    align-items: center;
    letter-spacing: 0;
    text-align: center;
    height: 100%;
    padding-inline: 28px;
    cursor: pointer;
}

.app__navbar-links_list-item:hover {
    color: var(--color-primary);
}

.app__navbar-separator {
    margin: auto 5px;
    display: inline-block;
    height: 16px;
    width: 1px;
    border: 1px solid var(--color-light);
}

.app__navbar-mobile {
    display: none;
}


.app__navbar-mobile_overlay {
    background: var(--color-dark);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 5;
    cursor: default;
}

.app__navbar-mobile_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-dark);
    color: var(--color-light);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 447px;
    max-width: 100vw;
    z-index: 10;
    padding: 38px;
    cursor: default;
}

.app__navbar-mobile_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 35px;
}

.app__navbar-mobile_list ul li {
    margin-bottom: 2rem;
}

.app__navbar-mobile_list ul li:hover {
    color: var(--color-primary);
}

.nav-social:hover {
    color: var(--color-primary);
}


/*---------------- Media Queries ----------------*/

@media screen and (max-width: 992px) {
    .app__navbar-container {
        height: 54px;
    }
    .app__navbar-logo {
        height: 35px;
        width: 35px;
    }
    .app__navbar-links {
        display: none;
    }
    .app__navbar-mobile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
}